###############################################################################
# Dipipen File Comments
###############################################################################

###############################################################################
# DP Main Comment
###############################################################################
 '.source.cpp':
   'DP Main File Comment':
     'prefix': 'commentfilemaindp'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connor.deakin\\\\@digipen.edu}
\\\\par DigiPen login: ${4:connor.deakin}
\\\\par Course: $5
\\\\par Assignment: $6
\\\\date ${7:DD}/${8:MM}/${9:YYYY}
\\\\brief
  $10

\\\\par
    Functions Inlclude:
    - $11

  Hours: $12

  Problems: $13
*/
/*****************************************************************************/$14
"""

###############################################################################
# DP Source Comment
###############################################################################
   'DP Source File Comment':
     'prefix': 'commentfilesourcedp'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connor.deakin\\\\@digipen.edu}
\\\\par DigiPen login: ${4:connor.deakin}
\\\\par Course: $5
\\\\par Assignment: $6
\\\\date ${7:DD}/${8:MM}/${9:YYYY}
\\\\brief
  $10

\\\\par
    Functions Inlclude:
    - $11
*/
/*****************************************************************************/$12
"""

###############################################################################
# DP Header Comment
###############################################################################
   'DP Header File Comment':
     'prefix': 'commentfileheaderdp'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connor.deakin\\\\@digipen.edu}
\\\\par DigiPen login: ${4:connor.deakin}
\\\\par Course: $5
\\\\par Assignment: $6
\\\\date ${7:DD}/${8:MM}/${9:YYYY}
\\\\brief
  $10
*/
/*****************************************************************************/$11
"""

###############################################################################
# Normal Comments
##############################################################################

###############################################################################
# Source File Comment
##############################################################################
   'Source File Comment':
     'prefix': 'commentfilesource'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connortdeakin\\\\@gmail.com}
\\\\par Project: $4
\\\\date ${5:DD}/${6:MM}/${7:YYYY}
\\\\brief
  $8

\\\\par
    Functions Include:
    - $9
*/
/*****************************************************************************/$10
"""

###############################################################################
# Header File Comment
###############################################################################
   'Header File Comment':
     'prefix': 'commentfileheader'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connortdeakin\\\\@gmail.com}
\\\\par Project: $4
\\\\date ${5:DD}/${6:MM}/${7:YYYY}
\\\\brief
  $8
*/
/*****************************************************************************/$9
"""

###############################################################################
# Class Comment
###############################################################################
   'Class Comment':
     'prefix': 'commentclass'
     'body': """
/*****************************************************************************/
/*!
\\\\class $1
\\\\brief
  $2

\\\\par
    Operations include:
    - $3

\\\\deprecated
    - ${4:Nothing}

\\\\bug
    - ${5:Nothing}
*/
/*****************************************************************************/$6
"""

###############################################################################
# Function Comment
###############################################################################
   'Function Comment':
     'prefix': 'commentfunction'
     'body': """
/*****************************************************************************/
/*!
\\\\brief
  $1

\\\\param $2
  $3

\\\\return $4
*/
/*****************************************************************************/$5
"""

###############################################################################
# Enum Comment
###############################################################################
   'Enum Comment':
     'prefix': 'commentenum'
     'body': """
/*****************************************************************************/
/*!
\\\\enum $1
\\\\brief
  $2

\\\\par
    Members
    - $3
*/
/*****************************************************************************/$5
"""

###############################################################################
