###############################################################################
# C / C++ Comments
###############################################################################
 '.source.cpp, .source.c':

###############################################################################
# Dipipen File Comments
###############################################################################

###############################################################################
# Hanson Comments
###############################################################################

###############################################################################
# Hanson Header File Comment
###############################################################################
   'Hanson Header File Comment':
     'prefix': 'commentfileheaderhanson'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connortdeakin\\\\@gmail.com}
\\\\par Assignment: $4
\\\\par Course: ${5:CS 200}
\\\\par Term: ${6:Fall 2016}
\\\\date ${7:DD}/${8:MM}/${9:YYYY}
\\\\brief
  $10
*/
/*****************************************************************************/$11
"""

###############################################################################
# Hanson Source File Comment
##############################################################################
   'Hanson Source File Comment':
     'prefix': 'commentfilesourcehanson'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connortdeakin\\\\@gmail.com}
\\\\par Assignment: $4
\\\\par Course: ${5:CS 250}
\\\\par Term: ${6:Fall 2016}
\\\\date ${7:DD}/${8:MM}/${9:YYYY}
\\\\brief
  $10
*/
/*****************************************************************************/$12
"""

###############################################################################
# Mead Comments
###############################################################################

###############################################################################
# Mead Main Comment
###############################################################################
   'Mead Main File Comment':
     'prefix': 'commentfilemainmead'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connor.deakin\\\\@digipen.edu}
\\\\par DigiPen login: ${4:connor.deakin}
\\\\par Course: $5
\\\\par Assignment: $6
\\\\date ${7:DD}/${8:MM}/${9:YYYY}
\\\\brief
  $10

\\\\par
    Functions Inlclude:
    - $11

  Hours: $12

  Problems: $13
*/
/*****************************************************************************/$14
"""

###############################################################################
# Mead Source Comment
###############################################################################
   'Mead Source File Comment':
     'prefix': 'commentfilesourcemead'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connor.deakin\\\\@digipen.edu}
\\\\par DigiPen login: ${4:connor.deakin}
\\\\par Course: $5
\\\\par Assignment: $6
\\\\date ${7:DD}/${8:MM}/${9:YYYY}
\\\\brief
  $10

\\\\par
    Functions Inlclude:
    - $11
*/
/*****************************************************************************/$12
"""

###############################################################################
# Mead Header Comment
###############################################################################
   'Mead Header File Comment':
     'prefix': 'commentfileheadermead'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connor.deakin\\\\@digipen.edu}
\\\\par DigiPen login: ${4:connor.deakin}
\\\\par Course: $5
\\\\par Assignment: $6
\\\\date ${7:DD}/${8:MM}/${9:YYYY}
\\\\brief
  $10
*/
/*****************************************************************************/$11
"""

###############################################################################
# Normal Comments
##############################################################################

###############################################################################
# Source File Comment
##############################################################################
   'Source File Comment':
     'prefix': 'commentfilesource'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connortdeakin\\\\@gmail.com}
\\\\par Project: $4
\\\\date ${5:DD}/${6:MM}/${7:YYYY}
\\\\brief
  $8
*/
/*****************************************************************************/$10
"""

###############################################################################
# Header File Comment
###############################################################################
   'Header File Comment':
     'prefix': 'commentfileheader'
     'body': """
/*****************************************************************************/
/*!
\\\\file $1
\\\\author ${2:Connor Deakin}
\\\\par E-mail: ${3:connortdeakin\\\\@gmail.com}
\\\\par Project: $4
\\\\date ${5:DD}/${6:MM}/${7:YYYY}
\\\\brief
  $8
*/
/*****************************************************************************/$9
"""

###############################################################################
# Class Comment
###############################################################################
   'Class Comment':
     'prefix': 'commentclass'
     'body': """
/*****************************************************************************/
/*!
\\\\class $1
\\\\brief
  $2
*/
/*****************************************************************************/$6
"""

###############################################################################
# Function Comment
###############################################################################
   'Function Comment':
     'prefix': 'commentfunction'
     'body': """
/*****************************************************************************/
/*!
\\\\brief
  $1

\\\\param $2
  $3

\\\\return $4
*/
/*****************************************************************************/$5
"""

###############################################################################
# Enum Comment
###############################################################################
   'Enum Comment':
     'prefix': 'commentenum'
     'body': """
/*****************************************************************************/
/*!
\\\\enum $1
\\\\brief
  $2

\\\\par
    Members
    - $3
*/
/*****************************************************************************/$5
"""

###############################################################################
